:root {
    color-scheme: dark;

    --spacing-s: 0.25rem;
    --spacing-m: 0.5rem;
    --spacing-l: 1rem;
    --spacing-xl: 2rem;

    --color-bg: light-dark(#eeeeee, #222222);
    --color-bg-hover: light-dark(#dddddd, #333333);
    --color-border: light-dark(#888888, #888888);

    --color-button-bg: light-dark(#dddddd, #333333);
    --color-button-bg-hover: light-dark(#cccccc, #444444);
    --color-button-bg-active: light-dark(#bbbbbb, #555555);
    --color-button-bg-disabled: var(--color-bg);
    --color-button-border: var(--color-border);
    --color-button-text: light-dark(#000000, #eeeeee);
    --color-button-text-disabled: light-dark(#888888, #aaaaaa);

    --hue-1: 0;
    --hue-2: 22;
    --hue-3: 45;
    --hue-4: 67;
    --hue-5: 90;
    --hue-6: 112;
    --hue-7: 135;
    --hue-8: 157;
    --hue-9: 180;
    --hue-10: 202;
    --hue-11: 225;
    --hue-12: 247;
    --hue-13: 270;
    --hue-14: 292;
    --hue-15: 315;
    --hue-16: 337;

    --lightness-light: 80%;
    --lightness-dark-regular: 25%;
    --lightness-dark-darker: 20%;
    --lightness-dark-brighter: 30%;
}

body {
    background-color: var(--color-bg);
    color: light-dark(#000000, #eeeeee);
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap-s {
    gap: var(--spacing-s);
}

.gap-m {
    gap: var(--spacing-m);
}

.gap-l {
    gap: var(--spacing-l);
}

.gap-xl {
    gap: var(--spacing-xl);
}

.main-container {
    display: flex;
    height: 100vh;
}

.info-panel {
    padding: var(--spacing-l);
    gap: var(--spacing-l);
    overflow-y: auto;
    border-color: #888888;
    border-style: solid;
    border-width: 0;
}

@media (max-width: 999px) {
    .main-container {
        flex-direction: column;
    }

    .info-panel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        min-height: 35vh;
        max-height: 35vh;
        border-top-width: 1px;
    }
}

@media (min-width: 1000px) {
    .main-container {
        flex-direction: row;
    }

    .info-panel {
        display: flex;
        flex-direction: column;
        min-width: 350px;
        max-width: 350px;
        border-left-width: 1px;
    }
}

.info-panel-details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.info-panel-details summary {
    font-weight: 700;
    font-size: 1.25em;
}

.button {
    font: inherit;
    color: var(--color-button-text);
    background-color: var(--color-button-bg);
    border: 1px solid var(--color-border);
    padding: var(--spacing-s) var(--spacing-m);
}

.zoom-button {
    font: inherit;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    background-color: var(--color-button-bg);
    border: 1px solid var(--color-border);
    box-shadow: 1px 1px 4px 0px #000000;
}

.button:hover:not(:disabled), .zoom-button:hover:not(:disabled) {
    background-color: var(--color-button-bg-hover);
    cursor: pointer;
}

.button:active:not(:disabled), .zoom-button:active:not(:disabled) {
    background-color: var(--color-button-bg-active);
}

.button:disabled {
    color: var(--color-button-text-disabled);
    background-color: var(--color-button-bg-disabled);
}

.board {
    display: grid;
    font-size: 2em;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

.board-corner {
    background-color: var(--color-bg);
    transform-origin: 0 0;
    z-index: 40;
}

.board-columns-header, .board-rows-header {
    display: grid;
    font-size: 0.75em;
    transform-origin: 0 0;
    background-color: var(--color-bg);
}

.board-columns-header {
    grid-template-columns: subgrid;
    grid-column: 2 / -1;
    z-index: 30;
}

.board-rows-header {
    grid-template-rows: subgrid;
    grid-row: 2 / -1;
    z-index: 20;
}

.board-cells {
    display: grid;
    transform-origin: 0 0;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    border-top: 1px solid #888888;
    border-bottom: none;
    border-left: 1px solid #888888;
    border-right: none;
    font-style: italic;
    cursor: pointer;
    content-visibility: auto;
    contain-intrinsic-size: 48px 48px;
}

.cell:hover {
    background-color: var(--color-bg-hover);
}

.cell.selected {
    z-index: 10;
    box-shadow: 1px 1px 0 2px light-dark(#aaaaaa, #aaaaaa),
                1px 1px 0 5px light-dark(#0066cc, #00d9ff);
}

.cell.given {
    font-weight: 700;
    font-family: arial;
    font-style: normal;
}

.cell.multi {
    display: grid;
    align-items: stretch;
}

.cell.error, .cell .error {
    color: light-dark(#aa0000, #ff8888);
    text-decoration: underline;
    font-weight: 700;
}

.cell.hidden {
    background-color: light-dark(#888888, #888888);
}

.cell.hidden:hover {
    background-color: light-dark(#999999, #999999);
}

.cell.hidden:active {
    background-color: light-dark(#777777, #777777);
}

.block-4 .cell.multi {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.6em;
}

.block-6 .cell.multi {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.5em;
}

.block-8 .cell.multi {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.45em;
}

.block-9 .cell.multi {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.4em;
}

.block-12 .cell.multi {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.4em;
}

.block-16 .cell.multi {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.3em;
}

.center,
.board-columns-header div,
.board-rows-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shard {
    position: absolute;
    background-color: light-dark(#888888, #888888);
    pointer-events: none;
    z-index: 10;
    will-change: transform, opacity;
}

.block-border-top {
    border-top: 3px solid #aaaaaa;
}

.block-border-bottom {
    border-bottom: 3px solid #aaaaaa;
}

.block-border-left {
    border-left: 3px solid #aaaaaa;
}

.block-border-right {
    border-right: 3px solid #aaaaaa;
}

.block-4 {
    --val-1-hue: var(--hue-1);
    --val-2-hue: var(--hue-4);
    --val-3-hue: var(--hue-6);
    --val-4-hue: var(--hue-11);
    --val-1-lightness-light: var(--lightness-light);
    --val-2-lightness-light: var(--lightness-light);
    --val-3-lightness-light: var(--lightness-light);
    --val-4-lightness-light: var(--lightness-light);
    --val-1-lightness-dark: var(--lightness-dark-regular);
    --val-2-lightness-dark: var(--lightness-dark-darker);
    --val-3-lightness-dark: var(--lightness-dark-regular);
    --val-4-lightness-dark: var(--lightness-dark-brighter);
}

.block-6 {
    --val-1-hue: var(--hue-1);
    --val-2-hue: var(--hue-3);
    --val-3-hue: var(--hue-6);
    --val-4-hue: var(--hue-9);
    --val-5-hue: var(--hue-12);
    --val-6-hue: var(--hue-15);
    --val-1-lightness-light: var(--lightness-light);
    --val-2-lightness-light: var(--lightness-light);
    --val-3-lightness-light: var(--lightness-light);
    --val-4-lightness-light: var(--lightness-light);
    --val-5-lightness-light: var(--lightness-light);
    --val-6-lightness-light: var(--lightness-light);
    --val-1-lightness-dark: var(--lightness-dark-regular);
    --val-2-lightness-dark: var(--lightness-dark-darker);
    --val-3-lightness-dark: var(--lightness-dark-darker);
    --val-4-lightness-dark: var(--lightness-dark-regular);
    --val-5-lightness-dark: var(--lightness-dark-brighter);
    --val-6-lightness-dark: var(--lightness-dark-regular);
}

.block-8 {
    --val-1-hue: var(--hue-1);
    --val-2-hue: var(--hue-2);
    --val-3-hue: var(--hue-4);
    --val-4-hue: var(--hue-6);
    --val-5-hue: var(--hue-9);
    --val-6-hue: var(--hue-11);
    --val-7-hue: var(--hue-13);
    --val-8-hue: var(--hue-15);
    --val-1-lightness-light: var(--lightness-light);
    --val-2-lightness-light: var(--lightness-light);
    --val-3-lightness-light: var(--lightness-light);
    --val-4-lightness-light: var(--lightness-light);
    --val-5-lightness-light: var(--lightness-light);
    --val-6-lightness-light: var(--lightness-light);
    --val-7-lightness-light: var(--lightness-light);
    --val-8-lightness-light: var(--lightness-light);
    --val-1-lightness-dark: var(--lightness-dark-regular);
    --val-2-lightness-dark: var(--lightness-dark-regular);
    --val-3-lightness-dark: var(--lightness-dark-darker);
    --val-4-lightness-dark: var(--lightness-dark-darker);
    --val-5-lightness-dark: var(--lightness-dark-darker);
    --val-6-lightness-dark: var(--lightness-dark-brighter);
    --val-7-lightness-dark: var(--lightness-dark-brighter);
    --val-8-lightness-dark: var(--lightness-dark-regular);
}

.block-9 {
    --val-1-hue: var(--hue-1);
    --val-2-hue: var(--hue-2);
    --val-3-hue: var(--hue-4);
    --val-4-hue: var(--hue-5);
    --val-5-hue: var(--hue-8);
    --val-6-hue: var(--hue-10);
    --val-7-hue: var(--hue-11);
    --val-8-hue: var(--hue-13);
    --val-9-hue: var(--hue-15);
    --val-1-lightness-light: var(--lightness-light);
    --val-2-lightness-light: var(--lightness-light);
    --val-3-lightness-light: var(--lightness-light);
    --val-4-lightness-light: var(--lightness-light);
    --val-5-lightness-light: var(--lightness-light);
    --val-6-lightness-light: var(--lightness-light);
    --val-7-lightness-light: var(--lightness-light);
    --val-8-lightness-light: var(--lightness-light);
    --val-9-lightness-light: var(--lightness-light);
    --val-1-lightness-dark: var(--lightness-dark-regular);
    --val-2-lightness-dark: var(--lightness-dark-regular);
    --val-3-lightness-dark: var(--lightness-dark-darker);
    --val-4-lightness-dark: var(--lightness-dark-regular);
    --val-5-lightness-dark: var(--lightness-dark-regular);
    --val-6-lightness-dark: var(--lightness-dark-regular);
    --val-7-lightness-dark: var(--lightness-dark-brighter);
    --val-8-lightness-dark: var(--lightness-dark-brighter);
    --val-9-lightness-dark: var(--lightness-dark-regular);
}

.block-12 {
    --val-1-hue: var(--hue-1);
    --val-2-hue: var(--hue-2);
    --val-3-hue: var(--hue-4);
    --val-4-hue: var(--hue-5);
    --val-5-hue: var(--hue-7);
    --val-6-hue: var(--hue-9);
    --val-7-hue: var(--hue-10);
    --val-8-hue: var(--hue-11);
    --val-9-hue: var(--hue-12);
    --val-10-hue: var(--hue-13);
    --val-11-hue: var(--hue-14);
    --val-12-hue: var(--hue-16);
    --val-1-lightness-light: var(--lightness-light);
    --val-2-lightness-light: var(--lightness-light);
    --val-3-lightness-light: var(--lightness-light);
    --val-4-lightness-light: var(--lightness-light);
    --val-5-lightness-light: var(--lightness-light);
    --val-6-lightness-light: var(--lightness-light);
    --val-7-lightness-light: var(--lightness-light);
    --val-8-lightness-light: var(--lightness-light);
    --val-9-lightness-light: var(--lightness-light);
    --val-10-lightness-light: var(--lightness-light);
    --val-11-lightness-light: var(--lightness-light);
    --val-12-lightness-light: var(--lightness-light);
    --val-1-lightness-dark: var(--lightness-dark-regular);
    --val-2-lightness-dark: var(--lightness-dark-regular);
    --val-3-lightness-dark: var(--lightness-dark-darker);
    --val-4-lightness-dark: var(--lightness-dark-darker);
    --val-5-lightness-dark: var(--lightness-dark-darker);
    --val-6-lightness-dark: var(--lightness-dark-regular);
    --val-7-lightness-dark: var(--lightness-dark-regular);
    --val-8-lightness-dark: var(--lightness-dark-brighter);
    --val-9-lightness-dark: var(--lightness-dark-brighter);
    --val-10-lightness-dark: var(--lightness-dark-regular);
    --val-11-lightness-dark: var(--lightness-dark-regular);
    --val-12-lightness-dark: var(--lightness-dark-regular);
}

.block-16 {
    --val-1-hue: var(--hue-1);
    --val-2-hue: var(--hue-2);
    --val-3-hue: var(--hue-3);
    --val-4-hue: var(--hue-4);
    --val-5-hue: var(--hue-5);
    --val-6-hue: var(--hue-6);
    --val-7-hue: var(--hue-7);
    --val-8-hue: var(--hue-8);
    --val-9-hue: var(--hue-9);
    --val-10-hue: var(--hue-10);
    --val-11-hue: var(--hue-11);
    --val-12-hue: var(--hue-12);
    --val-13-hue: var(--hue-13);
    --val-14-hue: var(--hue-14);
    --val-15-hue: var(--hue-15);
    --val-16-hue: var(--hue-16);
    --val-1-lightness-light: var(--lightness-light);
    --val-2-lightness-light: var(--lightness-light);
    --val-3-lightness-light: var(--lightness-light);
    --val-4-lightness-light: var(--lightness-light);
    --val-5-lightness-light: var(--lightness-light);
    --val-6-lightness-light: var(--lightness-light);
    --val-7-lightness-light: var(--lightness-light);
    --val-8-lightness-light: var(--lightness-light);
    --val-9-lightness-light: var(--lightness-light);
    --val-10-lightness-light: var(--lightness-light);
    --val-11-lightness-light: var(--lightness-light);
    --val-12-lightness-light: var(--lightness-light);
    --val-13-lightness-light: var(--lightness-light);
    --val-14-lightness-light: var(--lightness-light);
    --val-15-lightness-light: var(--lightness-light);
    --val-16-lightness-light: var(--lightness-light);
    --val-1-lightness-dark: var(--lightness-dark-regular);
    --val-2-lightness-dark: var(--lightness-dark-regular);
    --val-3-lightness-dark: var(--lightness-dark-darker);
    --val-4-lightness-dark: var(--lightness-dark-darker);
    --val-5-lightness-dark: var(--lightness-dark-darker);
    --val-6-lightness-dark: var(--lightness-dark-darker);
    --val-7-lightness-dark: var(--lightness-dark-darker);
    --val-8-lightness-dark: var(--lightness-dark-darker);
    --val-9-lightness-dark: var(--lightness-dark-regular);
    --val-10-lightness-dark: var(--lightness-dark-brighter);
    --val-11-lightness-dark: var(--lightness-dark-brighter);
    --val-12-lightness-dark: var(--lightness-dark-brighter);
    --val-13-lightness-dark: var(--lightness-dark-brighter);
    --val-14-lightness-dark: var(--lightness-dark-regular);
    --val-15-lightness-dark: var(--lightness-dark-regular);
    --val-16-lightness-dark: var(--lightness-dark-regular);
}

.val-1 { background-color: light-dark(hsl(var(--val-1-hue), 60%, var(--val-1-lightness-light)), hsl(var(--val-1-hue), 60%, var(--val-1-lightness-dark))); }
.val-2 { background-color: light-dark(hsl(var(--val-2-hue), 60%, var(--val-2-lightness-light)), hsl(var(--val-2-hue), 60%, var(--val-2-lightness-dark))); }
.val-3 { background-color: light-dark(hsl(var(--val-3-hue), 60%, var(--val-3-lightness-light)), hsl(var(--val-3-hue), 60%, var(--val-3-lightness-dark))); }
.val-4 { background-color: light-dark(hsl(var(--val-4-hue), 60%, var(--val-4-lightness-light)), hsl(var(--val-4-hue), 60%, var(--val-4-lightness-dark))); }
.val-5 { background-color: light-dark(hsl(var(--val-5-hue), 60%, var(--val-5-lightness-light)), hsl(var(--val-5-hue), 60%, var(--val-5-lightness-dark))); }
.val-6 { background-color: light-dark(hsl(var(--val-6-hue), 60%, var(--val-6-lightness-light)), hsl(var(--val-6-hue), 60%, var(--val-6-lightness-dark))); }
.val-7 { background-color: light-dark(hsl(var(--val-7-hue), 60%, var(--val-7-lightness-light)), hsl(var(--val-7-hue), 60%, var(--val-7-lightness-dark))); }
.val-8 { background-color: light-dark(hsl(var(--val-8-hue), 60%, var(--val-8-lightness-light)), hsl(var(--val-8-hue), 60%, var(--val-8-lightness-dark))); }
.val-9 { background-color: light-dark(hsl(var(--val-9-hue), 60%, var(--val-9-lightness-light)), hsl(var(--val-9-hue), 60%, var(--val-9-lightness-dark))); }
.val-10 { background-color: light-dark(hsl(var(--val-10-hue), 60%, var(--val-10-lightness-light)), hsl(var(--val-10-hue), 60%, var(--val-10-lightness-dark))); }
.val-11 { background-color: light-dark(hsl(var(--val-11-hue), 60%, var(--val-11-lightness-light)), hsl(var(--val-11-hue), 60%, var(--val-11-lightness-dark))); }
.val-12 { background-color: light-dark(hsl(var(--val-12-hue), 60%, var(--val-12-lightness-light)), hsl(var(--val-12-hue), 60%, var(--val-12-lightness-dark))); }
.val-13 { background-color: light-dark(hsl(var(--val-13-hue), 60%, var(--val-13-lightness-light)), hsl(var(--val-13-hue), 60%, var(--val-13-lightness-dark))); }
.val-14 { background-color: light-dark(hsl(var(--val-14-hue), 60%, var(--val-14-lightness-light)), hsl(var(--val-14-hue), 60%, var(--val-14-lightness-dark))); }
.val-15 { background-color: light-dark(hsl(var(--val-15-hue), 60%, var(--val-15-lightness-light)), hsl(var(--val-15-hue), 60%, var(--val-15-lightness-dark))); }
.val-16 { background-color: light-dark(hsl(var(--val-16-hue), 60%, var(--val-16-lightness-light)), hsl(var(--val-16-hue), 60%, var(--val-16-lightness-dark))); }

.cell:hover .val-1, .val-1:hover { background-color: light-dark(hsl(var(--val-1-hue), 60%, calc(var(--val-1-lightness-light) - 10%)), hsl(var(--val-1-hue), 60%, calc(var(--val-1-lightness-dark) + 10%))); }
.cell:hover .val-2, .val-2:hover { background-color: light-dark(hsl(var(--val-2-hue), 60%, calc(var(--val-2-lightness-light) - 10%)), hsl(var(--val-2-hue), 60%, calc(var(--val-2-lightness-dark) + 10%))); }
.cell:hover .val-3, .val-3:hover { background-color: light-dark(hsl(var(--val-3-hue), 60%, calc(var(--val-3-lightness-light) - 10%)), hsl(var(--val-3-hue), 60%, calc(var(--val-3-lightness-dark) + 10%))); }
.cell:hover .val-4, .val-4:hover { background-color: light-dark(hsl(var(--val-4-hue), 60%, calc(var(--val-4-lightness-light) - 10%)), hsl(var(--val-4-hue), 60%, calc(var(--val-4-lightness-dark) + 10%))); }
.cell:hover .val-5, .val-5:hover { background-color: light-dark(hsl(var(--val-5-hue), 60%, calc(var(--val-5-lightness-light) - 10%)), hsl(var(--val-5-hue), 60%, calc(var(--val-5-lightness-dark) + 10%))); }
.cell:hover .val-6, .val-6:hover { background-color: light-dark(hsl(var(--val-6-hue), 60%, calc(var(--val-6-lightness-light) - 10%)), hsl(var(--val-6-hue), 60%, calc(var(--val-6-lightness-dark) + 10%))); }
.cell:hover .val-7, .val-7:hover { background-color: light-dark(hsl(var(--val-7-hue), 60%, calc(var(--val-7-lightness-light) - 10%)), hsl(var(--val-7-hue), 60%, calc(var(--val-7-lightness-dark) + 10%))); }
.cell:hover .val-8, .val-8:hover { background-color: light-dark(hsl(var(--val-8-hue), 60%, calc(var(--val-8-lightness-light) - 10%)), hsl(var(--val-8-hue), 60%, calc(var(--val-8-lightness-dark) + 10%))); }
.cell:hover .val-9, .val-9:hover { background-color: light-dark(hsl(var(--val-9-hue), 60%, calc(var(--val-9-lightness-light) - 10%)), hsl(var(--val-9-hue), 60%, calc(var(--val-9-lightness-dark) + 10%))); }
.cell:hover .val-10, val-10:hover { background-color: light-dark(hsl(var(--val-10-hue), 60%, calc(var(--val-10-lightness-light) - 10%)), hsl(var(--val-10-hue), 60%, calc(var(--val-10-lightness-dark) + 10%))); }
.cell:hover .val-11, val-11:hover { background-color: light-dark(hsl(var(--val-11-hue), 60%, calc(var(--val-11-lightness-light) - 10%)), hsl(var(--val-11-hue), 60%, calc(var(--val-11-lightness-dark) + 10%))); }
.cell:hover .val-12, val-12:hover { background-color: light-dark(hsl(var(--val-12-hue), 60%, calc(var(--val-12-lightness-light) - 10%)), hsl(var(--val-12-hue), 60%, calc(var(--val-12-lightness-dark) + 10%))); }
.cell:hover .val-13, val-13:hover { background-color: light-dark(hsl(var(--val-13-hue), 60%, calc(var(--val-13-lightness-light) - 10%)), hsl(var(--val-13-hue), 60%, calc(var(--val-13-lightness-dark) + 10%))); }
.cell:hover .val-14, val-14:hover { background-color: light-dark(hsl(var(--val-14-hue), 60%, calc(var(--val-14-lightness-light) - 10%)), hsl(var(--val-14-hue), 60%, calc(var(--val-14-lightness-dark) + 10%))); }
.cell:hover .val-15, val-15:hover { background-color: light-dark(hsl(var(--val-15-hue), 60%, calc(var(--val-15-lightness-light) - 10%)), hsl(var(--val-15-hue), 60%, calc(var(--val-15-lightness-dark) + 10%))); }
.cell:hover .val-16, val-16:hover { background-color: light-dark(hsl(var(--val-16-hue), 60%, calc(var(--val-16-lightness-light) - 10%)), hsl(var(--val-16-hue), 60%, calc(var(--val-16-lightness-dark) + 10%))); }

.cell:active .val-1, .val-1:active { background-color: light-dark(hsl(var(--val-1-hue), 60%, calc(var(--val-1-lightness-light) - 15%)), hsl(var(--val-1-hue), 60%, calc(var(--val-1-lightness-dark) - 5%))); }
.cell:active .val-2, .val-2:active { background-color: light-dark(hsl(var(--val-2-hue), 60%, calc(var(--val-2-lightness-light) - 15%)), hsl(var(--val-2-hue), 60%, calc(var(--val-2-lightness-dark) - 5%))); }
.cell:active .val-3, .val-3:active { background-color: light-dark(hsl(var(--val-3-hue), 60%, calc(var(--val-3-lightness-light) - 15%)), hsl(var(--val-3-hue), 60%, calc(var(--val-3-lightness-dark) - 5%))); }
.cell:active .val-4, .val-4:active { background-color: light-dark(hsl(var(--val-4-hue), 60%, calc(var(--val-4-lightness-light) - 15%)), hsl(var(--val-4-hue), 60%, calc(var(--val-4-lightness-dark) - 5%))); }
.cell:active .val-5, .val-5:active { background-color: light-dark(hsl(var(--val-5-hue), 60%, calc(var(--val-5-lightness-light) - 15%)), hsl(var(--val-5-hue), 60%, calc(var(--val-5-lightness-dark) - 5%))); }
.cell:active .val-6, .val-6:active { background-color: light-dark(hsl(var(--val-6-hue), 60%, calc(var(--val-6-lightness-light) - 15%)), hsl(var(--val-6-hue), 60%, calc(var(--val-6-lightness-dark) - 5%))); }
.cell:active .val-7, .val-7:active { background-color: light-dark(hsl(var(--val-7-hue), 60%, calc(var(--val-7-lightness-light) - 15%)), hsl(var(--val-7-hue), 60%, calc(var(--val-7-lightness-dark) - 5%))); }
.cell:active .val-8, .val-8:active { background-color: light-dark(hsl(var(--val-8-hue), 60%, calc(var(--val-8-lightness-light) - 15%)), hsl(var(--val-8-hue), 60%, calc(var(--val-8-lightness-dark) - 5%))); }
.cell:active .val-9, .val-9:active { background-color: light-dark(hsl(var(--val-9-hue), 60%, calc(var(--val-9-lightness-light) - 15%)), hsl(var(--val-9-hue), 60%, calc(var(--val-9-lightness-dark) - 5%))); }
.cell:active .val-10, .val-10:active { background-color: light-dark(hsl(var(--val-10-hue), 60%, calc(var(--val-10-lightness-light) - 15%)), hsl(var(--val-10-hue), 60%, calc(var(--val-10-lightness-dark) - 5%))); }
.cell:active .val-11, .val-11:active { background-color: light-dark(hsl(var(--val-11-hue), 60%, calc(var(--val-11-lightness-light) - 15%)), hsl(var(--val-11-hue), 60%, calc(var(--val-11-lightness-dark) - 5%))); }
.cell:active .val-12, .val-12:active { background-color: light-dark(hsl(var(--val-12-hue), 60%, calc(var(--val-12-lightness-light) - 15%)), hsl(var(--val-12-hue), 60%, calc(var(--val-12-lightness-dark) - 5%))); }
.cell:active .val-13, .val-13:active { background-color: light-dark(hsl(var(--val-13-hue), 60%, calc(var(--val-13-lightness-light) - 15%)), hsl(var(--val-13-hue), 60%, calc(var(--val-13-lightness-dark) - 5%))); }
.cell:active .val-14, .val-14:active { background-color: light-dark(hsl(var(--val-14-hue), 60%, calc(var(--val-14-lightness-light) - 15%)), hsl(var(--val-14-hue), 60%, calc(var(--val-14-lightness-dark) - 5%))); }
.cell:active .val-15, .val-15:active { background-color: light-dark(hsl(var(--val-15-hue), 60%, calc(var(--val-15-lightness-light) - 15%)), hsl(var(--val-15-hue), 60%, calc(var(--val-15-lightness-dark) - 5%))); }
.cell:active .val-16, .val-16:active { background-color: light-dark(hsl(var(--val-16-hue), 60%, calc(var(--val-16-lightness-light) - 15%)), hsl(var(--val-16-hue), 60%, calc(var(--val-16-lightness-dark) - 5%))); }
