# https://vite.dev/guide/static-deploy#github-pages
# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ['master']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # Build the client

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'
          cache-dependency-path: client/package-lock.json

      - name: Install client dependencies
        run: npm ci
        working-directory: client

      - name: Build client
        run: npm run build
        working-directory: client

      # Build the .apworld and .yaml template

      - name: Checkout Archipelago
        uses: actions/checkout@v5
        with:
          repository: ArchipelagoMW/Archipelago
          path: Archipelago
          ref: 0.6.5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install Archipelago dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -r requirements.txt
          yes | python ModuleUpdate.py
        working-directory: Archipelago

      - name: Link world directory
        run: |
          ln -s "$GITHUB_WORKSPACE/apworld" Archipelago/worlds/archipeladoku

      - name: Generate .apworld
        run: |
          python Launcher.py "Build APWorlds" -- Archipeladoku
        working-directory: Archipelago

      - name: Copy .apworld to dist
        run: |
          cp Archipelago/build/apworlds/archipeladoku.apworld client/dist/

      - name: Generate .yaml template
        run: |
          python Launcher.py "Generate Template Options" -- --skip_open_folder
        working-directory: Archipelago

      - name: Copy .yaml to dist
        run: |
          cp Archipelago/Players/Templates/Archipeladoku.yaml client/dist/

      # Deploy to GitHub Pages

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './client/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
